<div class="container">

    <div class="container_title">
        <h3>Recommended</h3>
        <a href="#">View all ></a>
    </div>

    <div class="container_news">
        <div class="gradient_card_recommend">
            <img src="../../../assets/recommend.png" alt="Imagem de noticias recomendadas" width="100%">
        </div>
        <div class="text_overlay">
            <app-autor-title autor="Felipe News" time="1 day ago" color="alt_text"></app-autor-title>
            <a href="#">Meet Angular's New Control Flow</a>
        </div>
    </div>

</div>