.card{
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0;
}

.text_black{
    text-decoration: none;
    color: black;
}

.card_title{
    font-size: 2rem;
}

.card_right a img{
    width: 100%;
    border-radius: 1rem;
}

.text_grey{
    color: #9ca0a5;
    font-size: 13px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
}

.categories p{
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 0.8rem;
}

.container_article{
    margin: 2rem 0;
}

.container_article a{
    border: 0;
    border-radius: 1rem;
    padding: .6rem;
    background-color: white;
    font-weight: 500;
}

.card_right{
    display: flex;
    align-items: center;
}