@media screen and (max-width: 700px){
    .card{
        flex-direction: column;
    }
    .card_right{
        justify-content: center;
    }
    .container_article{
        display: flex;
        justify-content: center;
    }
}