<div class="card">

    <div class="card_left">
        <app-autor-title autor="{{autor}}" time="{{time}}"></app-autor-title>

        <a class="card_title text_black" [routerLink]="['content', id]">{{ title }}</a>

        <div class="categories text_grey">
            <p *ngFor="let category of categories">#{{category}}</p>
        </div>

        <div class="container_article">
            <a class="text_black" [routerLink]="['content', id]">Read article</a>
        </div>
    </div>

    <div class="card_right">
        <a [routerLink]="['content', id]">
            <img src="{{img}}" alt="Imagem da melhor noticia do ano">
        </a>
    </div>

</div>