<div class="card">

    <div class="card_left">
        <app-autor-title autor="Diogo News" time="4 hours ago"></app-autor-title>

        <h1>Some big things are happening next week on November 6th 🎉</h1>

        <div class="categories text_grey">
            <p>#Technology</p>
            <p>#Angular</p>
        </div>

        <div class="container_article">
            <button>Read article</button>
        </div>
    </div>

    <div class="card_right">
        <img src="../../../assets/angulart.png" alt="Logo Angular" width="350" height="250">
    </div>

</div>