.container{
    display: flex;
    flex-direction: column;
    background-color: #eaf3fb;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    -webkit-box-shadow: 10px 10px 62px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 62px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 62px -14px rgba(0,0,0,0.75);
}

.content_title h1{
    text-align: center;
    margin-bottom: 1rem;
}

.content_description{
    padding: 1rem 4rem;
}

.paragrafo{
    text-indent: 3rem;
}

.content_cover{
    display: flex;
    justify-content: center;
}

.content_cover img{
    width: 450px;
    height: 300px;
    border-radius: 1rem;
}