@media screen and (max-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .container_left{
        width: 100%;
    }
    .container_right{
        width: 100%;
    }

}

@media screen and (max-width: 580px){
    .container_new_card{
        display: flex;
        flex-direction: column;
    }
}