<div class="container">
    <div class="container_left">
        <app-menu-bar></app-menu-bar>
        <app-menu-title></app-menu-title>
        <app-big-card></app-big-card>

        <div class="container_new_card">
            <app-new-card autor="Rede News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
            <app-new-card autor="Gabriel News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
            <app-new-card autor="Felipe News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
        </div>
    </div>

    <div class="container_right">
        <app-search-article></app-search-article>
        <app-recommended-card></app-recommended-card>
        <app-small-card id="1"
                        autor="Mark Thompson" 
                        time="10 hours ago"
                        title="New free, interactive Angular course for beginners on Sololearn">
        </app-small-card>

        <app-small-card id="2"
                        autor="Mark Thompson" 
                        time="10 hours ago"
                        title="New free, interactive Angular course for beginners on Sololearn">
        </app-small-card>
    </div>
</div>