<div class="container">
    <div class="container_left">
        <app-menu-bar></app-menu-bar>
        <app-menu-title></app-menu-title>
        <app-big-card></app-big-card>

        <div class="container_new_card">
            <app-new-card autor="Rede News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
            <app-new-card autor="Gabriel News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
            <app-new-card autor="Felipe News" time="1 day ago" noticia="Some big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6thSome big things are happening next week on November 6th"></app-new-card>
        </div>
    </div>

    <div class="container_right">
        <app-search-article></app-search-article>
        <app-recommended-card autor="Alex Rickabaugh" title="Meet Angular's New Control Flow" img="../../../assets/recommend.png"></app-recommended-card>
        <app-small-card id="1"
                        autor="Mark Thompson" 
                        time="10 hours ago"
                        title="New free, interactive Angular course for beginners on Sololearn"
                        img="../../../assets/card1.png">
        </app-small-card>

        <app-small-card id="2"
                        autor="Enea Jahollari" 
                        time="10 day ago"
                        title="Incremental Static Regeneration for Angular"
                        img="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Nmb3_8DCuANFEcfXD7iyEQ.png">
        </app-small-card>
    </div>
</div>