.container{
    background-color: #8884b7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;

}

.container_left{
    display: flex;
    flex-direction: row;
}